<a href="https://colab.research.google.com/github/alvas-education-foundation/nikhil-repo/blob/master/pythonic_coding_session_2_(Nikhil).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a program to print the triangle

In [ ]:
n=int(input("Enter the Number "));
for i in range(n+1):
    for j in range(i):
        print (j+i ,end=" ")
    print('')

Enter the Number 5

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

In [ ]:
#Enter number 4

In [ ]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

*
* *
* * *
* * * *

In [ ]:
#Enter number 5

In [ ]:
n=int(input("Enter the Number "));
for i in range(n+1):
    for j in range(i,0,-1 ):
        print (n-j+1 ,end=" ")
    print('')

Enter the Number 5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [ ]:
#Enter number 5

In [ ]:
n=int(input("Enter the Number:"));
for i in range(0,n+1):
    for j in range(n-i, 0, -1):
        print (j , end=" ")
    print(' ')

Enter the Number:5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
# Enter number 4

In [ ]:
n=int(input("Enter the Number:"));
for i in range(0,n+1,1):
    print("")
    for j in range(i+1,n+1,1):
        print(j,end=" ")
    
for i in range(1,n):
    for j in range(i+1,0,-1):
        print(n-j+1,end=" ")
    print('')

Enter the Number:4

1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

In [ ]:
str = input("Enter a string: ")
num= 0
for s in str:
      num = num+1
print("Length of the input string is:", num)

Enter a string: Nikhil
Length of the input string is: 6

In [ ]:
str=input("Enter string:")
char=0
word=1
for i in str:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:Cambridge University
Number of words in the string:
2
Number of characters in the string:
20

In [ ]:
def word_count(str):
    counts = dict()
    words = str.split()
 
    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
 
    return counts
 
print( word_count("My name is Nikhil"))

{'My': 1, 'name': 1, 'is': 1, 'Nikhil': 1}